@import '@jan_hoeck/ui/theme.css';
@import '@jan_hoeck/ui/styles.css';
@import 'tailwindcss';

@source '../../../node_modules/@jan_hoeck/ui';
/* #3C096C, #5A189A, #9D4EDD, #FFC880, #FF9100 */
:root {
    --color-background: #25343B;
    --color-foreground: #eaeaea;

    /* button overwrites */
    --radius-btn: calc(infinity * 1px);

    --color-btn-primary-bg: #5A189A;
    --color-btn-primary-fg: #FBEFDF;
    --color-btn-primary-hover-bg: #5A189A80;
    --color-btn-primary-hover-fg: #FBEFDF;

    --color-btn-outlined-bg: transparent;
    --color-btn-outlined-fg: #FF9100;
    --color-btn-outlined-hover-bg: #FF910080;
    --color-btn-outlined-hover-fg: hsl(0 0% 100%);
    --color-btn-outlined-border: #FF9100;
    --color-btn-outlined-hover-border: #FF9100;

    /* card overwrite */
    --color-card-bg: #3C096C;
    --color-card-fg: #FBEFDF;
    --color-card-border: #FBEFDF;
    --color-card: #310b57;
}

@theme {
    --font-maragsa: var(--font-maragsa);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    background-image: linear-gradient(
            to top,
            #0F041A,
            #180c2e,
            #270b42,
            #2c0b4c,
            #310b57,
            #370a61,
            #3c096c,
            #410c74,
            #470e7d,
            #4c1185,
            #52148e,
            #5a1a97,
            #6320a1,
            #6b26aa,
            #7730b7,
            #843ac3,
            #9044d0,
            #9d4edd
    );
}