@import '@jan_hoeck/ui/theme.css';
@import '@jan_hoeck/ui/styles.css';
@import 'tailwindcss';

@source '../../../node_modules/@jan_hoeck/ui';

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
