.headline {
    background: linear-gradient(135deg, var(--color-primary), rgba(var(--color-primary-plain), 0.5), var(--color-primary));
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}