@theme static {
    /* colors */
    --color-border: #e2e8f0;

    --color-background: hsl(0 0% 100%);
    --color-foreground: hsl(210 24% 16%);
    --color-primary: hsl(196 89% 35%);
    --color-primary-foreground: hsl(0 0% 100%);
    --color-secondary: hsl(28 80% 52%);
    --color-secondary-foreground: hsl(0 0% 100%);
    --color-muted: hsl(210 40% 96.1%);
    --color-muted-foreground: hsl(215.4 16.3% 46.9%);
    --color-accent: hsl(35 84% 62%);
    --color-accent-foreground: hsl(210 24% 16%);
    --color-destructive: hsl(0 84.2% 60.2%);
    --color-destructive-foreground: hsl(0 0% 100%);

    --color-card: hsl(0 0% 100%);
    --color-card-foreground: hsl(210 24% 16%);

    /* animations */
    --animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}