@use '../../tools/theme/vars' as *;

.root {
    height: 200px;
    width: 100%;
    position: relative;

    .content {
        position: absolute;
        width: 100%;
        height: 100%;

        transition: transform 1s;
        transform-style: preserve-3d;

        .front,
        .back {
            position: absolute;
            height: 100%;
            width: 100%;
            background: $color_primary_main;
            color: white;
            backface-visibility: hidden;
            box-shadow: 5px 5px 0px 0px $color_primary_dark;

            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                content: '';
                position: absolute;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                border: 2px dashed $color_primary_dark;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .back {
            transform: rotateY(180deg);
        }

        .text {
            text-align: center;
            color: $color_text;
            font-size: 3.3rem;
            line-height: 3.3rem;
            font-family: var(--christmas-font);
        }
    }
}

.important {
    .content {
        .front,
        .back {
            background: #65b08f;
            box-shadow: 5px 5px 0px 0px #2f634d;

            &:after {
                border: 2px dashed #3a6671;
            }
        }

        .text {
            color: #fefefe;
        }
    }
}

.clickable {
    cursor: pointer;
    @include button-press;
}

.flip {
    .content {
        transform: rotateY(180deg);
        transition: transform 0.5s;
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
