name: "Pause Vercel Deployment"

on:
  push:
    branches:
      - dev
      - master

jobs:
  vercel-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Force fail to pause deployment
        run: |
          echo "⚠️  Deployment paused"
          exit 1