@use '../../../../../tools/theme/vars' as *;

.root {
    font-family: $normal_text_font;
    display: flex;
    flex-direction: column;
    color: inherit;

    .statusIndicator {
        color: inherit;
        font-family: inherit;
        font-size: 10px;
        opacity: 0.6;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: $spacing * 3;

        .question {
            color: inherit;
            font-family: inherit;
            font-size: 1rem;
        }
    }
}
