@import '@jan_hoeck/ui/theme.css';
@import 'tailwindcss';

@source '../../../node_modules/@jan_hoeck/ui';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

:root {
  /* colors */
  --color-border: #e2e8f0;

  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(210 24% 16%);

  /* button */
  --radius-btn: var(--radius-md);

  --color-btn-primary-bg: hsl(196 89% 35%);
  --color-btn-primary-fg: hsl(0 0% 100%);
  --color-btn-primary-hover-bg: hsla(196, 89%, 35%, 0.9);
  --color-btn-primary-hover-fg: hsl(0 0% 100%);

  --color-btn-ghost-bg: transparent;
  --color-btn-ghost-fg: hsl(210 24% 16%);
  --color-btn-ghost-hover-bg: hsla(210, 24%, 16%, 0.01);
  --color-btn-ghost-hover-fg: hsla(196, 89%, 35%, 0.8);

  /* card */
  --color-card-bg: hsl(0 0% 100%);
  --color-card-fg: hsl(210 24% 16%);
  --color-card-border: #e2e8f0;
  --color-card: #0000001a; /* shadow */

  /* dialog */
  --color-dialog-backdrop: rgba(28, 28, 28, 0.6);
  --color-dialog-background: #2b2b2b;
  --color-dialog-border: #ffffff50;
  --color-dialog-foreground: #eaeaea;

  /* inputs */
  --color-input-fg: #eaeaea;
  --color-input-placeholder-fg: #ffffff50;
  --color-input-bg: #363636;
  --color-input-border: #4a4a4a;
  --color-input-focus-border: #d4af37;

  /* divider */
  --color-divider: hsl(215.4 16.3% 46.9%);
}

@theme {
  --animate-slide-in-right: slide-in-right 0.2s linear;
  --animate-fade-in: 0.5s ease-out 0s 1 normal none running fade-in;

  --color-ocean-deep: hsl(196 89% 35%);
  --color-ocean-light: hsl(192 81% 50%);

  @keyframes slide-in-right {
    0% {
      visibility: visible;
      transform: translate3d(100%, 0, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
