@import 'tailwindcss';
@import '@jan_hoeck/ui/styles.css';

@source '../../../node_modules/@jan_hoeck/ui';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
    .gradient-overlay {
        background: linear-gradient(
                to bottom,
                color-mix(in oklch, var(--foreground) 40%, transparent),
                color-mix(in oklch, var(--foreground) 20%, transparent),
                var(--background)
        );
    }
}

@theme {
  --animate-slide-in-right: slide-in-right 0.2s linear;
  --animate-fade-in: 0.5s ease-out 0s 1 normal none running fade-in;

  @keyframes slide-in-right {
    0% {
      visibility: visible;
      transform: translate3d(100%, 0, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
