@import '@jan_hoeck/ui/theme.css';
@import '@jan_hoeck/ui/styles.css';
@import 'tailwindcss';

@source '../../../node_modules/@jan_hoeck/ui';

:root {
  --color-foreground: #eaeaea;
  --color-muted-foreground: #ffffff50;

  /* button overwrites */
  --radius-btn: calc(infinity * 1px);

  --color-primary: #d4af37;

  --color-btn-primary-bg: #d4af37;
  --color-btn-primary-fg: #1c1c1c;
  --color-btn-primary-hover-bg: #f8cd40;
  --color-btn-primary-hover-fg: #1c1c1c;

  --color-btn-outlined-bg: transparent;
  --color-btn-outlined-fg: #d4af37;
  --color-btn-outlined-hover-bg: #d4af3780;
  --color-btn-outlined-hover-fg: hsl(0 0% 100%);
  --color-btn-outlined-border: #d4af37;
  --color-btn-outlined-hover-border: #d4af37;

  --color-btn-ghost-fg: #eaeaea;
  --color-btn-ghost-bg: transparent;
  --color-btn-ghost-hover-bg: #d4af3780;
  --color-btn-ghost-hover-fg: #eaeaea;

  /* dialog overwrites */
  --color-dialog-backdrop: rgba(28, 28, 28, 0.6);
  --color-dialog-background: #2b2b2b;
  --color-dialog-border: #ffffff50;
  --color-dialog-foreground: #eaeaea;

  /* card overwrites */
  --color-card-bg: #2b2b2b;
  --color-card-fg: #eaeaea;
  --color-card-border: #eaeaea;
  --color-card: #1c1c1c;

  /* input overwrites */
  --color-input-fg: #eaeaea;
  --color-input-placeholder-fg: #ffffff50;
  --color-input-bg: #363636;
  --color-input-border: #4a4a4a;
  --color-input-focus-border: #d4af37;

  /* divider */
  --color-divider: #ffffff50;
}

@theme {
  --font-arimo: var(--font-arimo);
  --font-sans-pro: var(--font-sans-pro), sans-serif;

  --color-dialog-backdrop: rgba(28, 28, 28, 0.6);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  background-image: linear-gradient(to top, #1c1c1c, #2b2b2b);
  color: var(--color-foreground);
}
