@import '@jan_hoeck/ui/theme.css';
@import '@jan_hoeck/ui/styles.css';
@import 'tailwindcss';

@source '../../../node_modules/@jan_hoeck/ui';
/* #3C096C, #5A189A, #9D4EDD, #FFC880, #FF9100 */
:root {
  --color-foreground: #eaeaea;
    /* button overwrites */
  --radius-btn: calc(infinity * 1px);

  --color-btn-primary-bg: #D4AF37;
  --color-btn-primary-fg: #1c1c1c;
  --color-btn-primary-hover-bg: #D4AF3780;
  --color-btn-primary-hover-fg: #1c1c1c;

  --color-btn-outlined-bg: transparent;
  --color-btn-outlined-fg: #D4AF37;
  --color-btn-outlined-hover-bg: #D4AF3780;
  --color-btn-outlined-hover-fg: hsl(0 0% 100%);
  --color-btn-outlined-border: #D4AF37;
  --color-btn-outlined-hover-border: #D4AF37;

  /* card overwrite */
  --color-card-bg: #2b2b2b;
  --color-card-fg: #eaeaea;
  --color-card-border: #eaeaea;
  --color-card: #1c1c1c;
}

@theme {
  --font-maragsa: var(--font-maragsa);
  --font-arimo: var(--font-arimo);

  --color-dialog-backdrop: rgba(28, 28, 28, 0.6);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  background-image: linear-gradient(to top, #1c1c1c, #2b2b2b);
}
