@use '../../../../../../tools/theme/vars' as *;

.root {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: $spacing * 2;

    input {
        accent-color: $color_primary_main;
    }
}
