$color_background: #0d5a5a;
$color_text: #ffffff;
$color_primary_light: #c5424f;
$color_primary_main: #ae3b40;
$color_primary_dark: #6e1f27;

$spacing: 8px;

$normal_text_font: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;

@mixin button-press {
    &:active {
        transform: scale(0.98);
    }
}
