@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#root {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

a {
    color: inherit;
}

@font-face {
    font-family: 'DINPro';
    src: url(./fonts/DINPro.otf) format('opentype');
}
